<h1 class="title">PRODUCT CATALOG</h1>

<div class="buttons">
  <select [(ngModel)]="selectedOption">
    <option value="">-- Sort By --</option>
    <option value="lowToHigh">Price: Low to High</option>
    <option value="highToLow">Price: High to Low</option>
    <option value="nameAZ">Name: A - Z</option>
    <option value="nameZA">Name: Z - A</option>
  </select>
  
  <select [(ngModel)]="selectedCategory">
    <option value="">-- Filter By Category --</option>
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select>

  <button (click)="clearFilter()">Clear Filter</button>
</div>

<div class="product-container">
  <div class="product-card" *ngFor="let product of Products | categoryFilter:selectedCategory | sort:selectedOption">
    <a [routerLink]="['/product', product.id]">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p><strong>Category:</strong> {{product.category}}</p>
      <p><strong>Price:</strong> ₹{{product.price}}</p>
      <p><strong>Stock:</strong> {{product.stock}} items</p>
    </a>
  </div>
</div>
