<h2>Product List</h2>

<select [(ngModel)]="selectedOption">
  <option value="">-- Sort By --</option>
  <option value="lowToHigh">Price: Low to High</option>
  <option value="highToLow">Price: High to Low</option>
  <option value="nameAZ">Name: A - Z</option>
  <option value="nameZA">Name: Z - A</option>
</select>

<select [(ngModel)]="selectedCategory">
  <option value="">-- Filter By Category --</option>
  <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
</select>

<div *ngFor="let product of products | categoryFilter:selectedCategory | sort:selectedOption">
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p>₹{{ product.price }}</p>
</div>
