:host {
    display: block;
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .back-button {
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 0.7em;
    border-radius: 1em;
  }
  
  .back-button:hover {
    cursor: pointer;
  }