<h1 class="title">Product Catalog</h1>

<div class="buttons">
  <select [(ngModel)]="selectedOption">
    <option value="">-- Sort By --</option>
    <option value="lowToHigh">Price: Low to High</option>
    <option value="highToLow">Price: High to Low</option>
    <option value="nameAZ">Name: A - Z</option>
    <option value="nameZA">Name: Z - A</option>
  </select>

  <select [(ngModel)]="selectedCategory">
    <option value="">-- Filter By Category --</option>
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select>

  <button (click)="clearFilter()">Clear Filter</button>
</div>

<app-product-list
  [products]="Products"
  [selectedOption]="selectedOption"
  [selectedCategory]="selectedCategory"
  (productSelected)="selectedProduct = $event"
></app-product-list>

<app-product-detail
  *ngIf="selectedProduct"
  [product]="selectedProduct"
></app-product-detail>